#header{
    background: rgb(45,60,77);
}
body{
    font-family: Poppins,sans-serif;
    line-height: 30px;
    color: #999;
    font-weight: 400;
}
header{
    width:100%;
    margin:0 auto;
    background:#fff;
}
.img-group{
    margin-top:-9px;
    position: relative;
}
.img-tip{
    background:transparent;
    color:#fff;
    font-size:34px;
    font-weight: 600;
    position:absolute;
    top:50%;
    left:10%;
    transform: translate(0,-50%);
}
.new-font p{
    color : #666;
}
.new-font p:before{
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background: #108fcf;
    margin-bottom:10px ;
}
.new-item-l,.new-item-r{
    border-radius: 1%;
    box-shadow: 0px 5px 30px #666;
}
.new-img{
    width: 40%;
    padding: 1rem;
}
.new-font{
    width: 60%;
    padding: 1rem;
}
.new-item-r:hover , .new-item-l:hover{
    text-decoration: none;
}
.new-item-l{
    animation: new_slide_l 1s;
    animation-fill-mode: both;
}
.new-item-r{
    animation: new_slide_r 1s;
    animation-fill-mode: both;
}
@media screen and (max-width: 767px){
    .new-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .new-font h3{
        color: #000;
        font-size: 1.0rem;
        font-weight: 700;
    }
    .new-font p{
        font-size: 0.6rem;
        padding-top: 0.5rem;
        line-height: 1rem;
    }
    .new-item-r,.new-item-l{
        width: 90%;
        margin-top: 10px;
    }
    .new-font p:before{
        content: "";
        display: block;
        width: 40px;
        height: 6px;
        background: #108fcf;
        margin-bottom: 0.5rem ;
    }
    .new-img{
        width: 45%;
        padding: 0.5rem;
    }
    .new-font{
        width: 55%;
        padding: 0.5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .new-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .new-font h3{
        color: #000;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .new-font p{
        padding-top: 15px;
        line-height: 25px;
    }
    .new-item-r,.new-item-l{
        width: 700px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 992px){
    .new-list{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .new-item-l{
        float:left;
        margin-left: 5rem;
        clear: both;
    }
    .new-item-r{
        float:right;
        margin-right: 5rem;
        clear:both;
    }
    .new-item-r,.new-item-l{
        width: 780px;
        height: 260px;
        margin-top: 10px;
    }
    .new-font h3{
        color: #000;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .new-font p{
        padding-top: 15px;
        line-height: 25px;
    }
    @keyframes new_slide_l {
        0%{margin-left: 0rem}
        100%{margin-left: 5rem}
    }
    @keyframes new_slide_r {
        0%{margin-right: 0rem}
        100%{margin-right: 5rem}
    }
}
@media screen and (max-width: 1020px) {
    .img-tip{
        background:transparent;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (min-width: 1700px) {

    .new-item-l{
        float:left;
        clear: both;
    }
    .new-item-r{
        float:right;
        clear:both;
    }
    @keyframes new_slide_l {
        0%{margin-left: 0rem}
        100%{margin-left: 11rem}
    }
    @keyframes new_slide_r {
        0%{margin-right: 0rem}
        100%{margin-right: 11rem}
    }
}

